// utils
@import './utils/variable';
@import './utils/mixin';
@import './utils/animation';

// components
@import './components/tabs';
@import './components/menu';
@import './components/menu-btn';
@import './components/button';
@import './components/arrow';
@import './components/modal';
@import './components/notification';

// layouts
@import './layouts/home';
@import './layouts/layout';

@font-face {
  font-family: 'Noto Sans TC';
  font-weight: 100;
  src: url('../assets/fonts/NotoSansTC-Thin.otf');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-weight: 300;
  src: url('../assets/fonts/NotoSansTC-Light.otf');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-weight: 400;
  src: url('../assets/fonts/NotoSansTC-Regular.otf');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-weight: 500;
  src: url('../assets/fonts/NotoSansTC-Medium.otf');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-weight: 700;
  src: url('../assets/fonts/NotoSansTC-Bold.otf');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-weight: 900;
  src: url('../assets/fonts/NotoSansTC-Black.otf');
}

* {
  font-family: 'Noto Sans TC', sans-serif !important;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  letter-spacing: 0.2em;
  color: var(--dark);
  background-color: var(--mid-gray);
}
