:root {
  --primary: #f9b471;
  --secondary: #51a8bc;
  --tertiary: #bde8f9;
  --light-gray: #f9f8f6;
  --mid-gray: #eeede8;
  --dark-gray: #a5a39c;
  --light-main: #fffaf4;
  --white: #ffffff;
  --dark: #4d4c52;
}
